# DagsHub & MLflow Configs
DAGSHUB_REPO_OWNER=YOUR_DAGSHUB_USERNAME
DAGSHUB_REPO_NAME=YOUR_DAGSHUB_REPO_NAME
DAGSHUB_USER_TOKEN=YOUR_DAGSHUB_TOKEN

MLFLOW_TRACKING_USERNAME=YOUR_DAGSHUB_USERNAME
MLFLOW_TRACKING_PASSWORD=YOUR_DAGSHUB_TOKEN_OR_PASSWORD



MLFLOW_EXPERIMENT_NAME=Face Mask Detection Experiment
MLFLOW_RUN_NAME=Face Mask Detection Run